#background_capa 
{
    background-image: url('Robert_Capa.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.immaginecarosello
{
    height: 600px;
    object-fit: cover;
}
#map
{
     height: 600px; 
}
#wiki
{
    background-color: rgba(252, 252, 252, 0.4);
}